name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: yarn

      - name: Configure GIT credentials
        uses: OleksiyRudenko/gha-git-credentials@v2-latest
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Version
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx lerna version --conventional-graduate --yes

      - name: 'Configure: NPM'
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx lerna publish --include-merged-tags --yes
